<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/html">
<div layout:fragment="content" class="container my-3">
    <h2>회원정보 수정</h2>
    <form th:action="@{/member/modify}" th:object="${modifyFormDto}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>
        <div class="mb-3">
            <label class="form-label">로그인 아이디</label>
            <input type="text" th:field="*{username}" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('username')}" th:errorclass="field-error" th:errors="*{username}">
                로그인ID 오류
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">비밀번호</label>
            <input type="password" th:field="*{password1}" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('password1')}" th:errorclass="field-error" th:errors="*{password1}">
                비밀번호 오류
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{password2}" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('password2')}" th:errorclass="field-error" th:errors="*{password2}">
                비밀번호 오류
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label admin-label-name">이메일</label>
            <input type="text" th:field="*{email}" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('email')}" th:errorclass="field-error" th:errors="*{email}">
                사용자 이름 오류
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label admin-label-name">필명(작가명), 입력 시 작가회원으로 전환됩니다.</label>
            <input type="text" th:field="*{nickname}" th:errorclass="field-error" class="form-control">
            <div th:if="${#fields.hasErrors('nickname')}" th:errorclass="field-error" th:errors="*{nickname}">
                사용자 이름 오류
            </div>
        </div>

        <button type="submit" class="btn btn-secondary">수정하기</button>
    </form>
</div>
</html>